.logged-layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 1rem;
    overflow: hidden;
    background-color: #e8e6e6;
    gap: 1rem;
}
.sidebar{
    width: 20vw;
    height: 100%;
    background-color: #0A5736;
    border-radius: 20px;
    padding: 1rem;
}
.logged-layout-content{
    width: 80vw;
    height: 100%;
}